<?xml version="1.0" encoding="utf-8"?>
<!-- Hash key (facebook and release: Bmce+9aHdOoVtE7fS3B07tfj7bc= -->
<!-- Facebook app id: 1727400264164449 -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.patirk.vikingworkout" >
    <!-- Internet permission -->
    <uses-permission
        android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- Permission to write to external storage -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <activity
            android:name=".MainActivity"
            android:hardwareAccelerated="false">
       <!--     <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        -->
        </activity>
        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />

        <!-- Amazon -->
        <activity
            android:name="com.vikingcontrol.SplashActivity"
            android:label="@string/app_name"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.vikingcontrol.SignInActivity"
            android:label="sign_in"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            >
        </activity>

    </application>


</manifest>
